#navbar{
    position: fixed;
    top: 50%;
    left: 5%;
}
.anchor{
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}
#review {
    border: 0px;
}
#review div{
    border: 0px;
}